/* Hide Streamlit default elements */
/* #MainMenu {visibility: hidden;} */
footer {visibility: hidden;}
/* header {visibility: hidden;} */

/* Reset to normal app styling */
.stApp {
    /* background: #5b5c5b; */
    min-height: auto;
}

.block-container {
    padding-top: 3rem !important;
    padding-bottom: 2rem !important;
    max-width: 500px !important;
}

/* Title styling */
.login-title h2{
    color: white;
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.assignment-title {
    color: white;
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
