/* Hide Streamlit default elements */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
/* header {visibility: hidden;} */

/* Custom background color */
.stApp {
    background-color: #e5ece4;
}

/* Make titles bigger */
h1 {
    font-size: 3rem !important;
    color: #2E86C1;
}

/* Center content */
.main-content {
    padding-top: 2rem;
    max-width: 300px !important;
    /* margin: auto; */
}

.main-header {
    /* background: linear-gradient(135deg, #2E8B57, #228B22); */
    /* padding: 10px; */
    /* border-radius: 10px; */
    margin-bottom: 5px;
    /* height: 50px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.main-header h2 {
    color: rgb(1, 137, 3);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */
}

.user-info-card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.error-container {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 12px;
    border-radius: 5px;
    margin: 10px 0;
}

.success-container {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 12px;
    border-radius: 5px;
    margin: 10px 0;
}

.warning-container {
    background-color: #fff3cd;
    border: 1px solid #ffeaa7;
    color: #856404;
    padding: 12px;
    border-radius: 5px;
    margin: 10px 0;
}