
.custom-metric {
    border: 2px solid #4CAF50;      /* green border */
    border-radius: 10px;            /* rounded corners */
    padding: 10px;
    text-align: center;             /* center alignment */
    background-color: #f9f9f9;      /* light background */
}
.custom-metric .label {
    font-size: 16px; 
    color: #555;
    font-weight: bold;
}
.custom-metric .value {
    font-size: 35px; 
    /* font-weight: bold; */
    color: #000;
}